<div class="page-header">
  <h1>
    My Classes
    <a href="/classsessions/new" class="btn btn-lg btn-success">New Class</a>
  </h1>
</div>




<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Date and Time</th>
        <th>Theme</th>
        <th>Length (minutes)</th>
        <th>Participants (count)</th>
        <!-- <th>Comments</th> -->
        <th>Format</th>
        <th>Studio</th>
        <!-- <th>Instructor</th> -->
        <th>Actions</th>
      </tr>



      <% @classsessions.each do |classsession| %>
      <tr>
        <% if classsession.user_id == current_user.id %>
        <td><%= classsession.happened_at.strftime('%A, %m/%d/%y at %l:%M %P') %></td>
        <td><%= classsession.theme %></td>
        <td><%= classsession.length %></td>
        <td><%= classsession.participants %></td>
        <!-- <td><%= classsession.comments %></td> -->
        <td><%= classsession.format.title %></td>
        <td><%= classsession.studio.name %></td>
        <!-- <td><%= classsession.user.email %></td> -->
        <td>
          <a href="/classsessions/<%= classsession.id %>" class="btn btn-primary">Show</a>
          <a href="/classsessions/<%= classsession.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_classsession/<%= classsession.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
          <% end %>
      </tr>
      <% end %>

    </table>
  </div>
</div>
