<div class="page-header">
  <h3>Classsession #<%= @classsession.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Date and Time</dt>
      <dd><%= @classsession.happened_at %></dd>

      <dt>Theme</dt>
      <dd><%= @classsession.theme %></dd>

      <dt>Length (minutes)</dt>
      <dd><%= @classsession.length %></dd>

      <dt>Participants</dt>
      <dd><%= @classsession.participants %></dd>

      <dt>Comments</dt>
      <dd><%= @classsession.comments %></dd>

      <dt>Format</dt>
      <dd><%= @classsession.format.title %></dd>

      <dt>Studio</dt>
      <dd><%= @classsession.studio.name %></dd>

      <dt>Instructor</dt>
      <dd><%= @classsession.user.email %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/classsessions" class="btn btn-primary">
        Back
      </a>
      <a href="/classsessions/<%= @classsession.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_classsession/<%= @classsession.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
