<h1> My Teaching Stats </h1>

<%= pie_chart Format.group(:title).count %>

<%= pie_chart Classsession.group(:format_id).count %>

<%= column_chart Studio.group(:name).count, ytitle: "Count" %>

<%= column_chart Classsession.group(:format_id).average(:length), ytitle: "Duration" %>

<% @participantcount = 0 %>
<% @classsessions.each do | classsession | %>
  <% if current_user.id == classsession.user_id %>
  <% @participantcount = @participantcount + classsession.participants %>
  <% end %>
  <% end %>

<% @minutecount = 0 %>
<% @classsessions.each do | classsession | %>
  <% if current_user.id == classsession.user_id %>
  <% @minutecount = @minutecount + classsession.length %>
  <% end %>
  <% end %>

  <% @classcount = 0 %>
  <% @classsessions.each do | classsession | %>
    <% if current_user.id == classsession.user_id %>
    <% @classcount = @classcount + 1 %>
    <% end %>
    <% end %>

  <% if @classcount == 0 %>
  <% @averagesize = 0 %>
  <% @averagelength = 0 %>
  <% else %>
  <% @averagesize = @participantcount/@classcount %>
  <% @averagelength = @minutecount/@classcount %>
  <% end %>


<div class="row">
  <div class="col-md-12 mb-1">
    <dl class="dl-horizontal">
      <dt>Classes taught so far:</dt>
      <dd><%= @classcount %></dd>
      <dt>Students taught so far:</dt>
      <dd><%= @participantcount %></dd>
      <dt>Average class size:</dt>
      <dd> <%= @averagesize %></dd>
      <dt>Minutes taught so far:</dt>
      <dd><%= @minutecount %>, alternatively <%= @minutecount/60.round(2) %> hours</dd>
      <dt>Average class length:</dt>
      <dd><%= @averagelength %> minutes</dd>
    </dl>
  </div>
</div>
